body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}
 /* Menu de navegação */
nav{
    background-color: #444;
    padding: 10px;
    text-align: center;
}

nav a {
color: white;
text-decoration: none;
margin: 0 10PX;

}

nav a:hover {
    text-decoration: underline;
    color: green
}

/* Layout principal */
main{
    display: flex;
    margin: 20px;
    gap: 20px;
}

/* Seção Principal */
section{
    flex: 3;
    
}

article{
    background-color: white;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 20px;
}

/* Botão */
.botao{
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
}

.botao:hover{
    background-color: #0056b3;

}

/* Barra lateral aside*/

aside{
    flex: 1;
    background-color: #fff8dc;
    padding: 15px;
    border: 1px solid #ccc;
}

h2{
    color: #333;
}

p{
    color: #555;
    line-height: 1.5;
}

/* Rodape */

footer{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}

footer p {
    color: white;
}

